.containeer {
  min-height: 100vh;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* width:100vw ; */
  margin: 0 auto;
  overflow-x: hidden;
}
.main {
  /* padding: 90px; */
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  /* background-color: #64c5ba; */
}

/*  --------------------  FIRST SECTION  ----------------------       */
.introduction {
  /* margin: 40px auto; */
  /* width: 100vw; */
  /* margin-top: 20px; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: justify;
  position: relative;
  color: white;
  margin: 0 auto;
  /* padding-left: 8%; */
  scroll-behavior: smooth;
  padding-top: 22px;
  /* background: rgb(15, 45, 62);
  background: linear-gradient(
    45deg,
    rgba(15, 45, 62, 1) 65%,
    rgba(20, 64, 71, 1) 100%
  ); */

  background: rgb(20, 63, 70);
  background: linear-gradient(
    180deg,
    rgba(20, 63, 70, 1) 20%,
    rgba(15, 45, 62, 1) 100%
  );

  /* padding-bottom: 20px; */
}
.background {
  position: absolute;
  background-image: url("../svg/main_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: visible;
  width: 60%;
  height: 95%;
  float: right;
  right: 2%;
}
.intro-header h1 {
  width: 100%;
  font-size: 70px;
  text-align: left;
  letter-spacing: 30px;
}
.intro-header h4 {
  letter-spacing: 14px;
}
.description {
  text-align: justify;
  color: white;
  display: flex;
  height: 120px;
  height: auto;
  margin-bottom: 30px;
  /* overflow: scroll; */
  /* -ms-overflow-style: none; */
  /*IE and Edge*/
  /* scrollbar-width: none; */
  /*Firefox*/
}
.description p {
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-size: 14px;
}
.description p::-webkit-scrollbar {
  display: none;
}
.description p::-moz-selection {
  text-shadow: 0 0 0.125em #64c5ba, 0 0 0.45em #64c5ba;
}
.Border {
  height: 0;
  width: 10px !important;
  background: rgb(100, 197, 186);
  background: linear-gradient(
    180deg,
    rgba(100, 197, 186, 1) 0%,
    rgba(98, 198, 186, 0.041239461604954526) 100%
  );
  margin-left: 5px !important;
  animation: 500ms drawVertical ease 2s forwards;
  border-radius: 20px !important;
  border: 0px !important;
}
.neonButtons {
  display: flex;
  align-self: flex-end;
  flex-direction: row-reverse;
  width: 100%;
  padding: 2px;
  justify-content: flex-start;
  height: auto;
}
.scrollArrow {
  position: absolute;
  top: 90vh;
  width: 30px;
  height: 50px;
  /* right: 48.5%; */
  /* position: fixed;  */
  cursor: pointer;
  /* justify-self: flex-end;
  align-self: flex-end; */
}

/*  ---------------- COURSES GRAPH SECTION ------------------------------------ */
@keyframes drawVertical {
  from {
    height: 1px;
  }

  /* 0% {
    height: 1px;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  } */
  to {
    height: 100%;
  }
}
@keyframes drawHorizontal {
  from {
    width: 1px;
  }

  to {
    width: 20%;
  }
}
@keyframes borderChange {
  from {
    border: 1px dashed white;
  }

  to {
    border: 1px solid white;
  }
}
.coursesSection {
  /* margin: 40px auto; */
  /* width: 100vw; */
  /* overflow: hidden; */

  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  position: relative;
  color: white;
  /* padding-bottom: 20px; */
  transition: 500ms ease;
  background: rgb(15, 45, 62);
  background: linear-gradient(
    180deg,
    rgba(15, 45, 62, 1) 65%,
    rgba(20, 63, 70, 1) 100%
  );
  padding-top: 50px;
  /* border-bottom: red 1px solid; */
  /* overflow: scroll; */
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
}
.coursesSection::-webkit-scrollbar {
  display: none;
}
.graph {
  /* padding: 10px; */
  /* overflow: visible; */

  width: 90vw;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
  transition: 600ms ease;
  /* justify-content: end; */
}
.circle {
  align-self: center;
  border-radius: 50%;
  background-color: white;
  width: 10px;
  height: 10px;
}
.line {
  /* position: absolute; */
  /* right: 50%; */
  width: 1px;
  background-color: white;
  animation: 2s drawVertical ease;
  border-radius: 50px;
  height: 100%;
  align-self: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
}
.squares {
  height: 100%;
  position: relative;
  background-color: pink;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.square {
  width: 20px;
  height: 20px;
  /* border: 1px solid white; */
  animation: 2s borderChange forwards ease;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  position: absolute;
  z-index: 2;
  background-color: rgb(13, 45, 62);
}
.liCircle {
  border-radius: 50%;
  background-color: white;
  width: 5px;
  height: 5px;
}
.square:hover {
  box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 13px 0.2px #64c5ba;
}
.square:hover .liCircle {
  box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 7px 0.5px #64c5ba;
}
.horizontalLine {
  position: absolute;
  direction: rtl;
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  background-color: white;
  border-radius: 50px;
  animation: 1s drawHorizontal forwards ease;
  transform: translateY(10px);
  z-index: 0;
}

/*  course card  */
.outerAbsoluteCard {
  width: 250px;
  height: 150px;
  /* position: absolute; */
}
.courseCard {
  /* border: 1px solid white; */
  box-sizing: border-box;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  /* border: 1px solid white; */
  position: relative;
  /* transition: all 1s; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  /* transition: 500ms ease;
  animation: 3s borderer ease; */
  /* background-color: #0f2d3e; */
  /* border-radius: 21px 0 21px 0; */
  /* background-image: url('/svg/ex.svg'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
  transition: 500ms ease;

  /* clip-path: polygon(14px 0, 100% 0, 100% 0, 100% calc(100% - 14px), calc(100% - 14px) 100%, 0 100%, 0 100%, 0 14px); */
}
@keyframes borderer {
  from {
    border: none;
  }

  25% {
    border-right: 1px solid white;
  }

  50% {
    border-bottom: 1px solid white;
  }

  75% {
    border-left: 1px solid white;
  }

  100% {
    border-top: 1px solid white;
  }

  to {
    border: 1px solid white;
  }
}
@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.outerAbsoluteCard:hover {
  transition: 500ms ease;
  height: 280px;
  z-index: 2;
  overflow: visible !important;
  /* opacity: 1; */
}
.courseContentHolder {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 2;
  transition: 500ms ease;
  animation: 3s borderer ease;
  clip-path: polygon(
    20px 0,
    100% 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 100%,
    0 20px
  );
  background-color: #0f2d3e;
}
.courseContentHolder:before {
  content: "";
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  z-index: 4;
  /* transform: rotate(90deg); */
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 0);
}
.courseContentHolder:after {
  content: "";
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  z-index: 4;
  /* transform: rotate(135deg); */
  background-color: white;
  /* clip-path: polygon(50% 50%, 50% 50%, 100% 50%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 50%); */
  clip-path: polygon(
    100% 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 100%
  );
}
.courseImageHolder {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  border: 1px solid white;
}
.visible {
  position: absolute;
  top: 0;
  /* border: 1px solid white; */
  background-color: rgb(13, 45, 65);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  transition: 700ms ease;
  animation: reveal 3s ease;
  z-index: 3;
  clip-path: polygon(
    20px 0,
    100% 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%,
    0 100%,
    0 20px
  );
  /* border: 1px solid white; */
}
.visible:before {
  content: "";
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  z-index: 4;
  /* transform: rotate(90deg); */
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 0);
}
/*
.visible:after {
  content: "";
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  z-index: 4;
  transform: rotate(135deg);
  background-color: white;
  clip-path: polygon(50% 50%, 50% 50%, 100% 50%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 50%);
  clip-path: polygon(
    100% 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 100%
  );
  transition: 1ms;
} */
.outerAbsoluteCard:hover .courseImageHolder {
  opacity: 1;
  transition: 500ms ease;
  filter: grayscale(0);
  border-bottom: 0.2px solid white;
}
.outerAbsoluteCard:hover .visible {
  /* border-radius: 21px 0 21px 0; */
  overflow: hidden;
  /* border: 1px solid white; */
  top: -50%;
  height: 180px;
  z-index: 4;
  clip-path: polygon(
    20px 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 20px
  );
  /* width: 40%; */
}
.outerAbsoluteCard:hover .visible:after {
  display: none;
}
.courseContent {
  transition: 500ms ease;
  display: none;
  height: 80%;
  padding: 12px;
  padding-bottom: 20px;
  text-align: justify;
  /* overflow: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; */
  /* justify-self: flex-end; */
}
.outerAbsoluteCard:hover .courseContent {
  display: flex;
  flex-direction: column;
}
/* .courseContent::-webkit-scrollbar {
  display: none;
} */
.courseContent h6 {
  font-size: 15px;
  font-weight: bolder;
}
.courseContent p {
  font-size: 12px;
}
.shortDescription {
  height: 100px;
  font-size: 11px;
  font-weight: lighter;
  overflow: scroll;
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
}
.shortDescription::-webkit-scrollbar {
  display: none;
}
.getCourseBut {
  border: white 1px solid;
  background-color: #0f2d3e;
  position: absolute;
  bottom: -5%;
  /* left: 50%; */
  text-align: center;
  height: auto;
  font-size: 12px;
  display: none;
  width: 40%;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  clip-path: polygon(
    10px 0,
    100% 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%,
    0 100%,
    0 10px
  );
}
.getCourseBut button {
  outline: none;
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
}
.getCourseBut p {
  margin: 0;
}
.outerAbsoluteCard:hover .getCourseBut {
  display: inline;
  z-index: 4;
}
.getCourseBut:before {
  content: "";
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  z-index: 4;
  /* transform: rotate(90deg); */
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 0);
}
.getCourseBut:after {
  content: "";
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  z-index: 4;
  /* transform: rotate(135deg); */
  background-color: white;
  /* clip-path: polygon(50% 50%, 50% 50%, 100% 50%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 50%); */
  clip-path: polygon(
    100% 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 100%
  );
}
.publishTime {
  margin: 10px 0;
  font-size: 8px !important;
  color: #64c5ba;
}
.flickSquare {
  width: 20px;
  height: 20px;
  /* border: 1px solid white; */
  /* animation: 2s borderChange forwards ease; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  position: absolute;
  border: white 1px solid;
  z-index: 2;
  background-color: rgb(13, 45, 62);
  animation: flickerShadow 5s infinite ease;
  cursor: pointer;
  /* bottom: 20px; */
  bottom: 0;
}
@keyframes flickerShadow {
  from {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 10px 0.2px #64c5ba;
  }

  4% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 13px 0.2px #64c5ba;
  }

  6% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 15px 0.2px #64c5ba;
  }

  8% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 11px 0.2px #64c5ba;
  }

  10% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 16px 0.2px #64c5ba;
  }

  11% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 13px 0.2px #64c5ba;
  }

  12% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 15px 0.2px #64c5ba;
  }

  14% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 10px 0.2px #64c5ba;
  }

  16% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 9px 0.2px #64c5ba;
  }

  17% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 18px 0.2px #64c5ba;
  }

  19% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 15px 0.2px #64c5ba;
  }

  20% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 20px 0.2px #64c5ba;
  }

  24% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 13px 0.2px #64c5ba;
  }

  26% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 16px 0.2px #64c5ba;
  }

  28% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 18px 0.2px #64c5ba;
  }

  37% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 10px 0.2px #64c5ba;
  }

  38% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 13px 0.2px #64c5ba;
  }

  39% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 14px 0.2px #64c5ba;
  }

  42% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 17px 0.2px #64c5ba;
  }

  44% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 20px 0.2px #64c5ba;
  }

  46% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 9px 0.2px #64c5ba;
  }

  56% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 12px 0.2px #64c5ba;
  }

  58% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 17px 0.2px #64c5ba;
  }

  60% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 14px 0.2px #64c5ba;
  }

  68% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 15px 0.2px #64c5ba;
  }

  70% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 12px 0.2px #64c5ba;
  }

  72% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 14px 0.2px #64c5ba;
  }

  93% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 11px 0.2px #64c5ba;
  }

  95% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 16px 0.2px #64c5ba;
  }

  97% {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 19px 0.2px #64c5ba;
  }

  to {
    box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 13px 0.2px #64c5ba;
  }
}

/* -------------------- course preview */
.productPreviewSection {
  width: 100%;
  height: auto;
  background: rgb(13, 45, 62);
  background: linear-gradient(
    180deg,
    rgba(13, 45, 62, 1) 0%,
    rgba(20, 63, 70, 1) 21%,
    rgba(15, 45, 62, 1) 40%,
    rgb(21, 27, 27, 1) 70%
  );
}
.holder {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* clip-path: polygon(39px 0,
      100% 0,
      100% 0,
      100% calc(100% - 39px),
      calc(100% - 39px) 100%,
      0 100%,
      0 100%,
      0 39px); */
  width: auto;
  height: auto;
}
.CoursePreview:before {
  content: "";
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  z-index: 4;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 0);
}
.CoursePreview:after {
  content: "";
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  z-index: 4;
  background-color: white;
  clip-path: polygon(
    100% 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 100%
  );
}
.CoursePreview {
  background-color: inherit;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: flex-start;
  border: solid white 2px;
  /* animation:
    2s boxOpen ease; */
  /* 3s borderer ease 5s; */
  transition: 800ms;
  transform-origin: center;
  /* border-radius: 40px 0 40px 0; */
  /* overflow: scroll; */
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
  clip-path: polygon(
    38px 0,
    100% 0,
    100% 0,
    100% calc(100% - 38px),
    calc(100% - 38px) 100%,
    0 100%,
    0 100%,
    0 38px
  );
  /* background-image: url('../svg/SingleCourseBackground.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.courseChips:hover {
  box-shadow: inset 0 0 2px 0 #64c5ba, 0 0 0.7em #64c5ba;
}
.preqChips:hover {
  box-shadow: inset 0 0 13px 0px #144047, 0 0 2px 0.2px #144047;
}
.CoursePreview::-webkit-scrollbar {
  display: none;
}
@keyframes boxOpen {
  from {
    height: 1px;
    width: 1px;
  }

  to {
    height: 600px;
    width: 600px;
  }
}
.coursePreviewContent::-webkit-scrollbar {
  display: none;
}
.coursePreviewContent {
  width: 100%;
  height: 500px;
  /* text-align: right; */
  padding: 20px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* overflow: scroll; */
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
}
.coursePreviewContent h4 {
  overflow: hidden;
  border-left: 0.15em solid #64c5ba;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.8s infinite;
  /* font-size: calc(1.275rem + .3vw); */
}
.courseShortDecription {
  text-align: justify;
  width: 80%;
  height: 25%;
  overflow: scroll;
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
}
.courseShortDecription p {
  font-size: 13px;
}
.courseShortDecription::-webkit-scrollbar {
  display: none;
}
.courseImage {
  width: 100%;
  height: 200px;
  border-bottom: 2px solid white;
  /* border-left: 2px solid white;
  border-right: 2px solid white; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.tagsAndPreqs {
  /* margin: 0 auto; */
  height: 30%;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* overflow-y: scroll; */
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
}
.tagsAndPreqs::-webkit-scrollbar {
  display: none;
}
.prqstgs {
  overflow-y: scroll;
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
}
.prqstgs::-webkit-scrollbar {
  display: none;
}
.coursePreviewFooter {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.getCourseButt {
  /* border: white 1px solid;
  background-color: #0f2d3e; */
  position: absolute;
  bottom: -3%;
  /* justify-self: center;
  align-self: center; */
  /* margin: 0 auto; */
  font-size: 12px;
  width: 200px;
  height: 50px;
  /* padding: 5px; */
  /* border-radius: 10px 0 10px 0; */
  /* clip-path: polygon(10px 0,
      100% 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%,
      0 100%,
      0 10px); */
  background-image: url("../svg/login_button_fill.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center;
}
.getCourseButt button {
  outline: none;
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
}
/* .getCourseButt:before {
  content: "";
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  z-index: 4;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 0);
}

.getCourseButt:after {
  content: "";
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  z-index: 4;
  background-color: white;
  clip-path: polygon(100% 0,
      100% 0,
      100% 0,
      100% 100%,
      100% 100%,
      0 100%,
      0 100%,
      0 100%);
} */

/*         ------   ABOUT US SECTION   -----------------------------------------  */
.aboutUsWrapper {
  width: 100%;
  /* height: 100vh; */
  background: rgb(20, 63, 70);
  background: linear-gradient(
    180deg,
    rgba(20, 63, 70, 1) 20%,
    rgba(15, 45, 62, 1) 88%
  );
  padding-top: 200px;
}
.aboutUs {
  /* margin: 40px auto; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  position: relative;
  color: white;
  transition: 500ms ease;
  /* border-bottom: red solid 1px; */
  /* padding-bottom: 150px; */
}
.aboutUsMobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.aboutHeader {
  text-align: justify;
  position: absolute;
  top: 15%;
  width: 60%;
  width: auto;
  font-size: 55px;
}
.aboutHeader h1 {
  color: #64c5ba;
  font-size: 1em;
  text-shadow: 0 0 1px #64c5ba, 0 0 1px #64c5ba;
  letter-spacing: 7px;
  overflow: hidden;
  border-left: 0.15em solid #64c5ba;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.8s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
    border: none;
  }
}
@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: #64c5ba;
  }
}
.aboutHeader h5 {
  letter-spacing: 8px;
  text-align: left;
}
.aboutUsImageHolder {
  position: absolute;
  top: -1%;
  /* left: 5%; */
}
.textWrapper {
  position: absolute;
  width: 60%;
}
.aboutCardWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  /* border: #0f2d3e solid 1px; */
  /* position: relative; */
}
.aboutCardsWrapperMobile {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}

/*         ------   CONTACT US SECTION   -----------------------------------------  */
.contactUs {
  flex-grow: 1;
  width: 100%;
  height: 110vh;
  background: rgb(15, 45, 62);
  background: linear-gradient(
    180deg,
    rgba(15, 45, 62, 1) 0%,
    rgba(20, 63, 70, 1) 68%,
    rgba(18, 54, 66, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(15, 45, 62);
  background: linear-gradient(
    180deg,
    rgba(15, 45, 62, 1) 0%,
    /* rgba(18, 36, 44, 1) 23%, */ rgba(21, 27, 27, 0.5643206940979517) 70%,
    /* rgba(21, 36, 38, 1) 67%, */ /* rgba(20, 63, 70, 1) 70%, */
      rgba(18, 36, 44, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(15, 45, 62, 1) 0%,
    rgba(21, 36, 38, 0.9) 65%,
    rgba(20, 63, 70, 1) 100%
  );
  padding: 100px 0;
}
.contactUsTitle h1 {
  color: #64c5ba;
}
.contactsWrapper {
  padding: 10px;
  /* width: 70%;
  height: 200px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contacts {
  /* padding: 5px; */
  height: 100%;
  /* width: 30%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  color: white;
  padding: 10px;
}
.contacts p {
  margin: 1px auto;
}
.mapContainer {
  width: 60%;
  border: rgba(21, 27, 27, 1) solid 3px;
  height: 300px;
  z-index: 0;
}
.EmailUs {
  width: 25%;
  height: 300px;
  /* border: #0f2d3e solid 3px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*                          NEON            -------------------------                      */
.neonText {
  color: #64c5ba;
  text-shadow: 0 0 7px #d9f1ee, 0 0 10px #d9f1ee,
    0 0 21px #d9f1ee
      /* , 0 0 42px #64c5ba,0 0 82px #64c5ba, 0 0 92px #64c5ba, 0 0 102px #64c5ba, 0 0 151px #64c5ba */;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  animation: flicker 7s infinite 1s;
  text-shadow: 0 0 1em #64c5ba, 0 0 3em #64c5ba;
}
.greenButton {
  background-image: url("../svg/green_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 140px;
  height: 50px;
  cursor: pointer;
  /* box-shadow: inset 0 0 0.2em 0 #64c5ba, 0 0 5em 0.3em #64c5ba; */
}
.blueButton {
  margin-left: 10px;
  background-image: url("../svg/blue_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 140px;
  height: 50px;
  /* margin-left: 15px; */
  cursor: pointer;
  /* box-shadow: inset 0 0 0.2em 0 #1176a4, 0 0 5em 0.3em #1176a4; */
}
.blueButton a {
  margin: 0 auto;
}
.greenButton a {
  margin: 0 auto;
}
.blueButton p {
  color: #1176a4;
  text-shadow: 0 0 0.125em #1176a4, 0 0 0.45em #1176a4;
  padding-top: 15px;
  font-size: 1em;
  margin: 0 auto;
}
.greenButton p {
  color: #64c5ba;
  text-shadow: 0 0 0.125em #64c5ba, 0 0 0.45em #64c5ba;
  padding-top: 15px;
  letter-spacing: 2px;
  font-size: 1em;
}
@keyframes flicker {
  from {
    opacity: 0;
  }

  4% {
    opacity: 0.05;
  }

  6% {
    opacity: 0.07;
  }

  8% {
    opacity: 0.09;
  }

  10% {
    opacity: 0.11;
  }

  11% {
    opacity: 0.14;
  }

  12% {
    opacity: 0.2;
  }

  14% {
    opacity: 0.45;
  }

  16% {
    opacity: 0.76;
  }

  17% {
    opacity: 0.45;
  }

  19% {
    opacity: 0.79;
  }

  20% {
    opacity: 0.9;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.8;
  }

  28% {
    opacity: 0.75;
  }

  37% {
    opacity: 0.22;
  }

  38% {
    opacity: 0.56;
  }

  39% {
    opacity: 0.13;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.12;
  }

  46% {
    opacity: 0.78;
  }

  56% {
    opacity: 0.54;
  }

  58% {
    opacity: 0.34;
  }

  60% {
    opacity: 0.98;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.65;
  }

  72% {
    opacity: 0.67;
  }

  93% {
    opacity: 0.43;
  }

  95% {
    opacity: 0.89;
  }

  97% {
    opacity: 0.57;
  }

  to {
    opacity: 1;
  }
}

/*-------------------------------- navbar and footer-------------------------------------------*/
.loginButton {
  background-image: url("../svg/login_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  width: 150px;
  height: 50px;
  padding-top: 15px;
  cursor: pointer;
  /* position: relative;
  justify-content: center;
  align-items: center;
  display: flex; */
  align-self: center;
  /* justify-self: flex-start !important; */
}
.logOutButton {
  background-image: url("../svg/logout_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
  /* position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  align-self: center; */
}
.dashButton {
  text-align: center;
  width: 150px;
  height: 100%;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
}
.loginButton:hover {
  background-image: url("../svg/login_button_fill.svg");
}
.loginButton p {
  color: white;
  /* position: absolute;
  top: 30%; */
  justify-self: center;
  align-self: center;
  text-align: center;
  text-shadow: 0 0 0.125em #64c5ba, 0 0 0.45em #64c5ba;
}
.logOutButton p {
  color: #f58670;
  /* position: absolute;
  top: 30%; */
  justify-self: center;
  align-self: center;
  text-align: center;
  text-shadow: 0 0 0.125em #f58670, 0 0 0.45em #f58670;
  padding-top: 15px;
}
.dashButton p {
  color: white;
  position: absolute;
  top: 30%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.dashButton p:hover {
  text-shadow: 0 0 0.125em #64c5ba, 0 0 0.45em #64c5ba;
}
.menuItem {
  width: 100%;
  margin: 15px;
  background-color: #0f2d3e !important;
  font-weight: bold;
  border-radius: 5px;
  height: 50px;
  text-align: right;
  direction: rtl;
  transition: 1000ms;
  /* border: 2px solid #0f2d3e !important; */
}
.menuItem a {
  color: white !important;
  background-color: transparent;
  text-decoration: none;
}
.menuItem:hover {
  border-right: 2px solid #64c5ba !important;
  border-radius: 5px;
  color: #64c5ba;
  background-color: transparent;
  transition: 800ms;
}
.menuItem:hover .menuItem a {
  color: #64c5ba !important;
}
.menuItem:focus {
  background-color: transparent;
}
.aqua {
  text-align: center;
  width: 100px;
  cursor: pointer;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 30px;
  align-self: center;
  justify-content: center;
  justify-self: center;
  margin-right: 5px;
}
.aqua:hover {
  text-shadow: 0 0 0.125em #1176a4, 0 0 0.45em #64c5ba;
}
.aqua p {
  position: absolute;
  top: 30%;
  justify-self: center;
  align-self: center;
  text-align: center;
}
.aqua span {
  color: #64c5ba;
}
.searchInputWrapper {
  /* width: 150px; */
  padding-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  /* width: 45%; */
}
.searchInput {
  width: 160px;
  color: white;
  height: 20px;
  border: none;
  margin-left: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid#64c5ba;
  background-color: transparent;
  outline: none;
  align-self: center;
}
.searchInput:focus {
  outline: none;
}
.logoHolder {
  border-radius: 50%;
  overflow: hidden;
  background-image: url("../svg/header_logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  position: static;
}
.footer {
  /* margin-top: 100px; */
  padding-top: 100px;
  padding-bottom: 20px;
  margin-bottom: 0;
  align-self: flex-end;
  margin: 0 auto;
  /* padding: 30px 0px; */
  width: 100%;
  height: 70vh;
  /* height: 90vh; */
  /* height: 200px; */
  /* border-top: 1px solid #64c5ba; */
  border-top: 1px solid rgba(21, 27, 27, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(15, 45, 62);
  background: linear-gradient(
    180deg,
    rgba(15, 45, 62, 1) 0%,
    rgba(21, 27, 27, 1) 0%
  );
  box-shadow: 0px -10px 20px 0px rgba(21, 27, 27, 0.37);
  box-shadow: 0px -10px 20px 0px #1333484d;
}
.copyRight {
  color: white;
  display: flex;
  font-size: 8px;
  width: 100%;
  justify-content: center;
  /* padding: 5px 40px; */
  align-items: center;
  word-spacing: 2px;
  font-weight: lighter;
}
.copyRight p {
  margin: 0 auto;
}
.footerLinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 12px;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  margin: 0;
  /* height: 100px; */
}
.footerPics {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerPic {
  border: 1px solid white;
  width: 50px;
  height: 50px;
}
.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 100px;
  /* border: red solid 1px; */
}
.footer a {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
}
.footer a:hover {
  color: #64c5ba;
  text-shadow: 0 0 1em #64c5ba, 0 0 2em #64c5ba;
}
.footerContactLinks {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 12px;
}
.footerContactLinks a {
  width: auto;
  height: auto;
}
.footerContactLinks a:hover {
  box-shadow: inset 0 0 0px 0 #64c5ba, 0 0 7px 0.2px #64c5ba;
  /* filter: drop-shadow(inset 0 0 1px 0 #64c5ba, 0 0 7px 0.2px #64c5ba); */
}

/* ------------------------------------------------------------------------------------------------- */
.mainBorderShape:before {
  content: "";
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  z-index: 4;
  /* transform: rotate(90deg); */
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 100%, 0 100%, 0 100%, 0 0);
}
.mainBorderShape:after {
  content: "";
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 40px;
  z-index: 4;
  /* transform: rotate(135deg); */
  background-color: white;
  /* clip-path: polygon(50% 50%, 50% 50%, 100% 50%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0 50%); */
  clip-path: polygon(
    100% 0,
    100% 0,
    100% 0,
    100% 100%,
    100% 100%,
    0 100%,
    0 100%,
    0 100%
  );
}
.mainBorderShape {
  position: relative;
  clip-path: polygon(
    39px 0,
    100% 0,
    100% 0,
    100% calc(100% - 39px),
    calc(100% - 39px) 100%,
    0 100%,
    0 100%,
    0 39px
  );
  background-color: inherit;
  /* width: auto;
  height: auto; */
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  width: auto;
  overflow: hidden;
  align-items: center;
  border: solid white 1px;
  animation: 2s boxOpenDynamic ease-in-out, 3s borderer ease 2s;
  transition: 800ms ease;
  transform-origin: center;
  border-radius: 40px 0 40px 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /*IE and Edge*/
  scrollbar-width: none;
  /*Firefox*/
}
.mainBorderShape::-webkit-scrollbar {
  display: none;
}

/* SEARCH PAGE */
.searchResultsPageWrapper {
  /* border: 1px solid red; */
  /* background-color: #0f2d3e; */
  padding: 100px 20px 20px 20px;
  width: 100%;
  height: 100vh;
}
.searchResultsWrapper {
  margin: 0 auto;
  /* border: 1px solid purple; */
  width: 100%;
  height: 100%;
  /* padding: 10px 20px; */
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.searchResultsWrapper::-webkit-scrollbar {
  display: none;
}

@keyframes boxOpenDynamic {
  from {
    width: 1px;
    height: 1px;
  }

  to {
    width: 80vw;
    height: 600px;
  }
}

@media (max-width: 900px) {
  .aboutHeader {
    text-align: center;
    width: 100%;
    width: auto;
    font-size: 55px;
    position: unset;
  }
  .aboutHeader h1 {
    color: #64c5ba;
    font-size: 1em;
    text-shadow: 0 0 1px #64c5ba, 0 0 1px #64c5ba;
    letter-spacing: 7px;
    overflow: hidden;
    border-left: none;
    white-space: nowrap;
    width: 100%;
    animation: none;
  }
  .textWrapper {
    position: unset;
    width: 100%;
    text-align: justify;
    padding: 20px 100px;
  }
  .line {
    z-index: 0;
  }
  .contactUs {
    height: auto;
  }
  .contacts {
    width: 100%;
    height: auto;
    padding: 30px 10px;
  }
}

@media (max-width: 768px) {
  .intro-header h1 {
    letter-spacing: 5px;
  }
  .intro-header h4 {
    letter-spacing: 7px;
  }
  /* .outerAbsoluteCard {
    width: 30%;
  } */
  .searchInput {
    width: 100px;
  }
  /* .description {
    height: 100px;
  } */
  .aboutHeader {
    font-size: 40px;
    letter-spacing: 4px;
  }
  .aboutHeader h1 {
    letter-spacing: 1px;
  }
  .neonButtons {
    width: 100%;
    padding: 0;
    justify-self: center;
    justify-content: flex-start;
    /* padding-right: 40%; */
  }
  .textWrapper p {
    font-size: 12px;
  }
  .getCourseBut {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .logoHolder {
    width: 50px;
    height: 50px;
  }

  .CoursePreview {
    width: 500px;
    height: 600px;
  }

  .coursePreviewContent {
    overflow-y: scroll;
  }

  .coursePreviewContent h4 {
    font-size: 21px;
  }
}

@media (max-width: 500px) {
  .CoursePreview {
    width: 400px;
    /* height: 400px; */
  }

  .getCourseButt {
    height: 30px;
  }

  .coursePreviewContent h4 {
    animation: none;
    width: 100%;
    border-left: none;
    white-space: unset;
    font-size: 16px;
  }

  .courseShortDecription p {
    font-size: 11px;
  }
  .intro-header h1 {
    letter-spacing: 20px;
  }
  .intro-header h4 {
    letter-spacing: 10px;
  }
  /* .neonButtons {
    width: 100%;
    justify-self: center;
    justify-content: flex-start;
    padding: 0;
  } */
  .textWrapper {
    position: unset;
    width: 100%;
    text-align: justify;
    padding: 5px 20px;
  }
  .aboutCardsWrapperMobile {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }
}

@media (max-width: 400px) {
  .CoursePreview {
    width: 300px;
    /* height: 400px; */
  }
  .intro-header h1 {
    letter-spacing: 5px;
  }
  .intro-header h4 {
    letter-spacing: 7px;
  }
  /* .description {
    height: 150px;
  } */
  /* .description p {
    font-size: 12px;
  } */
}
