.css-15v22id-MuiAccordionDetails-root {
  padding: 5px !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 30px !important;
}

.editprofile-inputs .form-control {
  width: 100%;
  background-color: white !important;
  height: 60px;
}

.new-editprofile-inputs .form-control {
  width: 100%;
  background-color: #2f3835 !important;
  height: 60px;
  color: white;
  border: none !important;
}

.new-editprofile-inputs .form-control:focus {
  border-color: #64c5ba;
  box-shadow: 0 1px 1px #64c5ba inset, 0 0 8px #64c5ba;
  outline: 0 none;
  color: white;
}

.editprofile-inputs .form-control:focus {
  border-color: #64c5ba;
  box-shadow: 0 1px 1px #64c5ba inset, 0 0 8px #64c5ba;
  outline: 0 none;
}

.css-o4b71y-muiaccordionsummary-content.mui-expanded {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.image-upload>input {
  display: none;
}

.overFlowHandler ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overFlowHandler {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}